.date-clear-left { 
	clear: left;
}
.date-remove-todate {
	float: left;
}
.date-padding {
	padding: 0;
}
.end-date-wrapper label,
.end-date.wrapper .description,
.start-date-wrapper label,
.start-date-wrapper .description { 
	display: none;
}